<div>
  <div class="container-fluid wbdv-course-name-header sticky-top">
    <h4>{{course.courseName}}</h4>
  </div>
    <div class="row">
      <div class="col-3">
        <div class="wbdv-sidebar">
           <app-module-list></app-module-list>
        </div>
      </div>
      <div class="col-9">
        <div class="col-12">
          <div>
            <app-lesson-tabs></app-lesson-tabs>
          </div>
          <div>
            <app-topic-pills-component></app-topic-pills-component>
          </div>
          <div>
            <app-widget-list></app-widget-list>
          </div>
        </div>
      </div>
    </div>
</div>
